/********** Backgrounds **********/

.stage2{
	background-image:URL("../img/backgrounds/fondo3.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.stage3{
	background-image:URL("../img/backgrounds/fondo2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.stage4{
	background-image:URL("../img/backgrounds/fondo1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.stage5{
	background-image:URL("../img/backgrounds/fondo5.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.stage6{
	background-image:URL("../img/backgrounds/fondo6.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

#info{
	background-color: rgba(77, 77, 77, 0.90);
	position: absolute;
	right:0px;
	height:5px;
	width: 250px;
	padding: 20px;
	margin: 0px;
	bottom:20px;
	color: #FFFFFF;
	font-size: 10px;
	font-family:monospace;
}

/********** Text input **********/
.casilla{
	position: relative;
	border-color: blue;
	right:20%;
	left:0%;
	padding: 3%;
	width: 95%;
	text-align: center;
}

/********** Buttons **********/
.btn-group .boton-right1{
	border-radius: 0px 200px 200px 0px;
}

.btn-group .boton-right1 img{
	float: left;
}

.btn-group .boton-right1_in{
	border-radius: 0px 200px 200px 0px;
	background-color: #FFFFFF;
	color:blue;
}

.btn-group .boton-left1{
	border-radius: 200px 0px 0px 200px;
}

.btn-group .boton-left1_in{
	border-radius: 200px 0px 0px 200px;
	background-color: #FFFFFF;
	color:blue;
	/* background-image: url("../img/icons/music.jpg");
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 2px;
	padding-right: 2px; */
}

.btn-group .boton-left1_in img{
	float: left;
}

.btn-group .boton-right2{
	border-radius: 0px 28px 0px 0px;
	position: relative;
	top: 7.5px;
	right: 63px;
}

.btn-group .boton-left2{
	border-radius: 28px 0px 0px 0px;
	position: relative;
	top: 7.5px;
	right: 61px;
}

.btn-group .but_my_concerts{
	border-radius: 28px 0px 0px 0px;
	position: relative;
	top: 7.5px;
	right: 1.5px;
}

.btn-group .but_my_concerts_in{
	border-radius: 28px 0px 0px 0px;
	position: relative;
	top: 7.5px;
	right: 1.5px;
	background-color: #FFFFFF;
	color:blue;
}

.btn-group .but_recom{
	position: relative;
	top: 7.5px;
	right: 1.5px;
}

.btn-group .but_recom_in{
	position: relative;
	top: 7.5px;
	right: 1.5px;
	background-color: #FFFFFF;
	color:blue;
}

.btn-group .but_near_in{
	border-radius: 0px 28px 0px 0px;
	position: relative;
	bottom: 26px;
	left: 285px;
	background-color: #FFFFFF;
	color:blue;
}

.btn-group .but_near{
	border-radius: 0px 28px 0px 0px;
	position: relative;
	bottom: 26px;
	left: 285px;
}

.boton{
	color:white;
	border-radius: 200px 200px 200px 200px;
	position: relative;
	border-color: blue;
	background-color: blue;
	padding: 3%;
	width: 99%;
}

.btn-group button {
	font-family: monospace;
	font-weight: bold;
	background-color: #197fa3;
	border-radius: 0px 0px 0px 0px;
	border-color: white;
	color: white;
	padding: 3%;
	cursor: pointer;
	float: left;
	width: 50%;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
	content:"";
	clear: both;
	display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
	background-color: #FFFFFF;
	color:blue;
}

.btn-group .button_studio{
	border-radius: 28px 28px 0px 0px;
	position: absolute;
	left: 72.89%;
	bottom: 37.5%;
	transform: rotate(270deg);
	height: 0px;
	width: 48%;
	font-size: 25px;
	font-family: monospace;
}

.milibreria{
	position: fixed;;
	left:24.2%;
	max-height: 5%;
	max-width: 20%;
	top:15%;
}

.milibreria img{
	max-width: 10%;
	max-height: 10%;
}

.milibreria_concerts{
	position: fixed;;
	left:22%;
	max-height: 5%;
	max-width: 20%;
	top:15%;
}

.milibreria_concerts img{
	max-width: 10%;
	max-height: 10%;
}

/********** Sidebar **********/
.sidebar_principal{
	text-align: center;
	color: #FFFFFF;
	font-size: 400%;
	font-family:monospace;
	font-weight:bold
}

.sidebar_principal img{
	float: left;
}

.sidebar_user{
	position: relative;
	text-align: center;
	color: #FFFFFF;
	font-size: 150%;
	font-family:monospace;
	font-weight:bold;
	top:20px;
}

.sidebar .ajustes{
	position: relative;
	top:30px;
	left:5%;
	color: #FFFFFF;
	font-size: 100%;
	font-family:monospace;
	line-height: 20px;
}

.sidebar .ajustes img{
	height: 25px;
	float: left;
}

.sidebar{
	background-color: rgba(77, 77, 77, 0.90);
	border-radius: 0px 28px 28px 0px;
	position: fixed;
	left:0%;
	height:10%;
	width: 15%;
	padding: 1%;
	margin: 0%;
	top:2%;
}

.sidebar img{
	position: relative;
	max-width: 30%;
	max-height: 30%;
	border-radius: 200px 200px 200px 200px;
	bottom:auto;
	float: left;
}

.musica .principal{
	text-align: center;
	color: #FFFFFF;
	font-size: 100%;
	font-family:monospace;
	font-weight:bold;
}

.exit_sidebar{
	position: fixed;
	background-color: rgba(255,0,0,1);
	bottom:3%;
	left:0%;
	margin: 0%;
	height: 5%;
	border-radius: 0px 28px 28px 0px;
	padding: 0%;
	width: 17%;
	text-align: center;
	color:white;
	font-family:monospace;
	font-weight:bold;
	font-size:200%;
	line-height: 45px;
}

.buscador{
	border-radius: 0px 0px 28px 28px;
	background-color:rgba(77, 77, 77, 0.97);
	position:fixed;
	top:0px;
	right:3%;
	padding:1%;
	width: 10%;
	color:rgba(77, 77, 77, 0.97);
}

.buscador .casilla{
	border-radius: 28px 28px 28px 28px;
	position: relative;
	border-color: blue;
	right:20%;
	left:0%;
	padding: 3%;
	width: 95%;
	text-align: center;
}

.musica .collection{
	color:white;
}

/*
	@todo: Que el scroll no se salga de la barra cuando se cambia
	el tamaño de ventana
*/
.musica .collection .orden{
	position: fixed;
	width: 13.15%;
	height: 400px;
	bottom: 12.2%;
	left:1.65%;
	overflow-y: scroll;
}

.musica .collection .orden .genres{
	position: relative;
	text-align: center;
}

.musica img{
	max-width: 20%;
	max-height: 20%;
}

.musica{
	background-color: rgba(77, 77, 77, 0.97);
	border-radius: 0px 28px 28px 0px;
	position: fixed;
	left:0%;
	width: 15%;
	padding: 1%;
	margin: 0%;
	top:20%;
	bottom:10%;
}

/********** Settings **********/
.orgrupo{
	position:fixed;
	height:75%;
	width:28%;
	left:71%;
	top:10%;
	background-color: rgba(77,77,77,0.9);

}

.orgrupo .titulo{
	color:white;
	position: relative;
	top:2%;
	left:15%;
	background-color:#197fa3;
	text-align: center;
	height:8%;
	width:70%;
	padding-top: 3%;
	border-radius: 28px 28px 28px 28px;
}

.orgrupo .main{
	position: relative;
	top:3%;
	height:85%;
	width:97%;
	left:7px;
	overflow-y: scroll;
	overflow-x:hidden;
}

.orgrupo .main .especifico{
	position: relative;
	background-color: rgba(77,77,77,1);
	width:97%;
	height:20%;
	margin-bottom: 2%;
	top:2px;
	left:2px;
}

.orgrupo .main .especifico .textillo{
	position: relative;
	left:5%;
	top:20%;
	width:50%;
	height:50%;
	color:white;
	text-align: center;
	padding-top:2%;
}

.orgrupo .main .especifico .cajetilla{
	position: relative;
	left:60%;
	bottom:30%;

}

.musica .titulo_grupos{
	position: fixed;
	background-color:#197fb5;
	height: 5%;
	top:27.75%;
	left:2px;
	width:16%;
	border-radius: 28px 0px 0px 28px;
	color:white;
	text-align: center;
	padding-top: 7px;
	z-index: 1;
}

.musica .grupos{
	position:fixed;
	height: 55%;
	top:34%;
	left:9px;
	width:16%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.musica .grupos .grupis{
	position: relative;
	top:3px;
	left:2px;
	width: 95%;
	height:50px;
	background-color: #197fa3;
	border-bottom: 2px solid #000000;
	border-radius: 100px 0px 0px 100px;
}

.musica .grupos .grupis .imagenes{
	position: relative;
	height:45px;
	width:45px;
	left:3px;
	border-radius: 100px 100px 100px 100px;
	top:1px;
	border:2px solid #000000;
}

.musica .grupos .grupis .imagenes img{
	min-width: 100%;
	min-height: 100%;
	border-radius: 100px 100px 100px 100px
}

.musica .grupos .grupis .nome{
	position: relative;
	left:70px;
	bottom:42px;
	color:white;
	height:80%;
	width:60%;
	text-align: center;
	padding-top: 4%;
}

.ajustes_principal{
	position: fixed;
	background-color:rgba(77, 77, 77,0.97);
	top:2%;
	width:50%;
	height: 95%;
	left:20%;
	overflow-y: scroll;
	overflow-x: hidden;
	border-radius: 100px 0px 0px 0px;
}

.reconocimiento {
	background-color: rgba(77,77,77,0.97);
	position: fixed;
	top:88.8%;
	right:0px;
	padding-right:110px;
	padding-left: 110px;
	color:red;
	font-style: italic;
	font-family: monospace;
	text-align: center;
}

#ajustesimagen{
	position: relative;
	border-radius: 200px 200px 200px 200px;
	max-height:20%;
	max-width:20%;
	left:5%;
	top:5%;
	background-color: white;
}

#boton2{
	border-radius: 200px 200px 200px 200px;
	position: relative;
	height:10%;
	width:80%;
	background-color: #197fa3;
	color:white;
	border-color:#197fa3;
}

.ajustes_principal .boton3{
	border-radius: 200px 200px 200px 200px;
	position: relative;
	left:20%;
	border-color: red;
	background-color: red;
	color:white;
	width:50%;
	height:5%;
}

.ajustes_principal .nombre{
	position:relative;
	top:5%;
	left:16%;
	color:white;
	font-size:100px;
}

.ajustes_principal .cambiarimagen{
	position:relative;
	top:10%;
	right:11%;
	color:white;
}

.ajustes_principal .cambiarcontrasena{
	position:relative;
	top:10%;
	left:30%;
	height:50%;
	width:30%;
	text-align: center;
	color:white;
}

.ajustes_principal .region{
	position: relative;
	top:1%;
	left:30%;
	text-align: center;
	color:white;
	width:30%;

}

/********** Collection **********/
.genre{
	position: fixed;
	color:rgba(25,127,163,1);
	border-radius: 30px 30px 30px 30px;
	font-family:monospace;
	font-weight:bold;
	font-size:500%;
	position: fixed;
	left: 22%;
	top:2%;
	background-color: rgba(77, 77, 77,0.97);
	padding: 1%;
	height: 8%;
	text-align:center;
}

.grid-container{
	position: fixed;
	height: 70%;
	top:20%;
	left:20%;
	width:81%;
}

/********** Place all items in collection **********/
.grid-container .itemo{
	position: relative;
	height: 176px;
	width: 176px;
	left: 0px;
	top: 0px;
	background-color: #197fa3;
	float:left;
}

.grid-container .itemo img{
	position: relative;
	width:100%;
	height:100%;
}

/********** Album icons **********/
.grid-container .itemo .close img{
	height: 20px;
	width:20px;
	position: absolute;
	left: 85%;
	bottom: 85%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
}

.grid-container .itemo .add img{
	height: 25px;
	width:25px;
	position: absolute;
	right: 82%;
	bottom: 83%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
	z-index: 1;
}

.grid-container .itemo .love img{
	height: 30px;
	width:30px;
	position: absolute;
	left: 80%;
	bottom: 7px;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
	z-index: 1;
}

.grid-container .itemo .type{
	position: relative;
	background-color: red;
	color: #FFFFFF;
	left: 30px;
	bottom: 30px;
	height: 20px;
	text-align: center;
	width:100px;
	background-color: rgba(77, 77, 77, 0.50);
	cursor: pointer;
	z-index: 1;
	opacity: 0;
}

/********** Hover action in collection **********/
.grid-container .itemo:hover .close img{
	opacity: 1;
}

.grid-container .itemo:hover .love img{
	opacity: 1;
}

.grid-container .itemo:hover .add img{
	opacity: 1;
}

.grid-container .itemo:hover .type{
	opacity: 1;
}

.blanco{
	color:#197fa3;
}

/*solo funciona en Chrome*/
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 28px 28px 28px 28px;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
	border-radius: 28px 28px 28px 28px;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0.44, rgb(122,153,217)),
						color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}

#cuadrado{
	border-radius: 0px 0px 0px 0px;
}

/******** Main Page ********/
.row_main{
	position: relative;
	left:17%;
	height:24%;
	width: 75%;
	top:70px;
	margin-bottom:15%;
}

.genre_main{
	position: relative;
	top: 60px;
	left: 270px;
	text-align: center;
	padding-top: 1%;
	color: white;
	font-family: monospace;
	background-color: #197fa3;
	border-radius: 28px 28px 28px 28px;
	width: 250px;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
}

.genere_main .titulo{
	position:relative;
	top:100px;
}

.row_main .recom1{
	height: 176px;
	width: 176px;
	position: relative;
	top: 18%;
	left: 2.5%;
	float:left;
}

.row_main .recom1 img{
	height: 100%;
	width: 100%;
	position:relative;
}

.row_main .recom1 .add{
	height: 25px;
	width:25px;
	position: absolute;
	right: 82%;
	bottom: 83%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
	z-index: 1;
}

.row_main .recom1 .close{
	height: 20px;
	width:20px;
	position: absolute;
	left: 85%;
	bottom: 85%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);

}

.row_main .recom1 .love{
	height: 30px;
	width:30px;
	position: absolute;
	left: 80%;
	bottom: 7px;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
	z-index: 1;
}

.row_main .recom1:hover .add{
	opacity: 1;
}

.row_main .recom1:hover .close{
	opacity: 1;
}

.row_main .recom1:hover .love{
	opacity: 1;
}

/******** Detailed information for albums ********/
#peque{
	position: relative;
	height:70%;
	width:70%;
	left:15%;
	top:15%;
}

.seleccionado{
	position: fixed;
	top:41.3%;
	left:20%;
	height:55%;
	width:73.4%;
	background-color: rgba(77,77,77,0.9);
}

.seleccionado .imagen{
	position:relative;
	height:100%;
	width:40%;
}

.seleccionado .imagen img{
	width: 100%;
	height: 100%;
	position: relative;
}

.seleccionado .titulo_normal{
	position: relative;
	background-color:#197fa3;
	height: 10%;
	width:30%;
	bottom:98%;
	left:41%;
	border-radius: 28px 28px 28px 28px;
	border:3px solid #000000;
	text-align: center;
	color:white;
	padding-top: 1%;
	font-weight: bold;
	font-size: 20px;
}

.seleccionado .titulo_especial{
	position: relative;
	background-color:gold;
	height: 10%;
	width:30%;
	bottom:98%;
	left:41%;
	border-radius: 28px 28px 28px 28px;
	border:3px solid #000000;
	text-align: center;
	color:black;
	padding-top: 1%;
	font-weight: bold;
	font-size: 30px;
}

.seleccionado .album_artist{
	position: relative;
	background-color:#197fa3;
	height:5%;
	width:20%;
	bottom:113%;
	left:75%;
	padding-top: 1%;
	border-radius: 28px 28px 28px 28px;
	border:3px solid #000000;
	text-align: center;
	color: white;
}

.seleccionado .album_type{
	position: relative;
	height:5%;
	width:20%;
	bottom:112%;
	left:75%;
	padding-top: 1%;
	background-color:#197fa3;
	border-radius: 28px 28px 28px 28px;
	border:3px solid #000000;
	text-align: center;
	color: white;
}

.seleccionado .listofsongs{
	position:fixed;
	top:52%;
	left:49.4%;
	background-color:rgba(77,77,77,0.5);
	height: 365px;
	width:634px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.seleccionado .listofsongs .songs{
	position: relative;
	height: 7%;
	width:99%;
	/* background-color:rgba(77,77,77,1); */
	top:2px;
	margin-bottom:2%;
	padding-top: 1%;
	padding-left: 2%;
	color: white;
}

.seleccionado .listofsongs .songs .love_song img{
	position: relative;
	width: 30px;
	height: 100%;
	right:3%;
	bottom:25px;
	cursor:pointer;
}

/******** Concerts pages ********/
.concert_title{
	position: fixed;
	color:rgba(25,127,163,1);
	border-radius: 30px 30px 30px 30px;
	font-family:monospace;
	font-weight:bold;
	font-size:500%;
	position: fixed;
	left: 22%;
	top:2%;
	background-color: rgba(77, 77, 77,0.97);
	padding: 1%;
	height: 8%;
	text-align:center;
}

.grid-concert{
	position: absolute;
	background-color:rgba(77, 77, 77,0.97);
	max-width: 39.52%;
	max-height: 10%;
	top:20%;
	left:22%;
	padding:16.75%;
	width:38.7%;
}

/******** Placing artists images ********/
.grid-concert .item1{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/beatles.jpg");
	position: fixed;
	right: 65.8%;
	top: 20%;
}

.grid-concert .item2{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/berry.jpg");
	position: fixed;
	right: 53.8%;
	top: 20%;
}

.grid-concert .item3{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/bowie.jpg");
	position: fixed;
	right: 41.8%;
	top: 20%;
}

.grid-concert .item4{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/dylan.jpg");
	position: fixed;
	right: 29.8%;
	top: 20%;
}

.grid-concert .item5{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/elo.jpg");
	position: fixed;
	right: 17.8%;
	top: 20%;
}

.grid-concert .item6{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/elton.jpg");
	position: fixed;
	right: 5.8%;
	top: 20%;
}

.grid-concert .item7{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/elvis.jpg");
	position: fixed;
	right: 65.8%;
	top: 41%;
}

.grid-concert .item8{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/fighters.jpg");
	position: fixed;
	right: 53.8%;
	top: 41%;
}

.grid-concert .item9{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/green.jpg");
	position: fixed;
	right: 41.8%;
	top: 41%;
}

.grid-concert .item10{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/harrison.jpg");
	position: fixed;
	right: 29.8%;
	top: 41%;
}

.grid-concert .item11{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/lennon.jpg");
	position: fixed;
	right: 17.8%;
	top: 41%;
}

.grid-concert .item12{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/mccartney.jpg");
	position: fixed;
	right: 5.8%;
	top: 41%;
}

.grid-concert .item13{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/nirvana.jpg");
	position: fixed;
	right: 65.8%;
	top: 62.4%;
}

.grid-concert .item14{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/queen.jpg");
	position: fixed;
	right: 53.8%;
	top: 62.4%;
}

.grid-concert .item15{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/ringo.jpg");
	position: fixed;
	right: 41.8%;
	top: 62.4%;
}

.grid-concert .item16{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/stones.jpg");
	position: fixed;
	right: 29.8%;
	top: 62.4%;
}

.grid-concert .item17{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/waters.jpg");
	position: fixed;
	right: 17.8%;
	top: 62.4%;
}

.grid-concert .item18{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/artists/who.jpg");
	position: fixed;
	right: 5.8%;
	top: 62.4%;
}

.artist_name{
	color: #FFFFFF;
	text-align: center;
	font-family: monospace;
	font-size: 120%;
	background-color: rgba(77, 77, 77, 0.50);
	cursor: pointer;
	opacity: 0;
}

.grid-concert .item1:hover .artist_name{
	opacity: 1;
}

.grid-concert .item2:hover .artist_name{
	opacity: 1;
}

.grid-concert .item3:hover .artist_name{
	opacity: 1;
}

.grid-concert .item4:hover .artist_name{
	opacity: 1;
}

.grid-concert .item5:hover .artist_name{
	opacity: 1;
}

.grid-concert .item6:hover .artist_name{
	opacity: 1;
}

.grid-concert .item7:hover .artist_name{
	opacity: 1;
}

.grid-concert .item8:hover .artist_name{
	opacity: 1;
}

.grid-concert .item9:hover .artist_name{
	opacity: 1;
}

.grid-concert .item10:hover .artist_name{
	opacity: 1;
}

.grid-concert .item11:hover .artist_name{
	opacity: 1;
}

.grid-concert .item12:hover .artist_name{
	opacity: 1;
}

.grid-concert .item13:hover .artist_name{
	opacity: 1;
}

.grid-concert .item14:hover .artist_name{
	opacity: 1;
}

.grid-concert .item15:hover .artist_name{
	opacity: 1;
}

.grid-concert .item16:hover .artist_name{
	opacity: 1;
}

.grid-concert .item17:hover .artist_name{
	opacity: 1;
}

.grid-concert .item18:hover .artist_name{
	opacity: 1;
}

.grid-recommendation{
	position: absolute;
	background-color:rgba(77, 77, 77,0.97);
	max-width: 39.52%;
	max-height: 10%;
	top:20%;
	left:22%;
	padding:16.75%;
	width:38.7%;
}

.grid-recommendation .item1{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/audioslave.jpg");
	position: fixed;
	right: 65.8%;
	top: 20%;
}

.grid-recommendation .item2{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/blink.jpg");
	position: fixed;
	right: 53.8%;
	top: 20%;
}

.grid-recommendation .item3{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/chemical.jpg");
	position: fixed;
	right: 41.8%;
	top: 20%;
}

.grid-recommendation .item4{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/coldplay.jpg");
	position: fixed;
	right: 29.8%;
	top: 20%;
}

.grid-recommendation .item5{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/dragons.jpg");
	position: fixed;
	right: 17.8%;
	top: 20%;
}

.grid-recommendation .item6{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/evanescence.jpg");
	position: fixed;
	right: 5.8%;
	top: 20%;
}

.grid-recommendation .item7{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/fall.jpg");
	position: fixed;
	right: 65.8%;
	top: 41%;
}

.grid-recommendation .item8{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/go.jpg");
	position: fixed;
	right: 53.8%;
	top: 41%;
}

.grid-recommendation .item9{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/gorillaz.jpg");
	position: fixed;
	right: 41.8%;
	top: 41%;
}

.grid-recommendation .item10{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/hoobastank.jpg");
	position: fixed;
	right: 29.8%;
	top: 41%;
}

.grid-recommendation .item11{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/killers.jpg");
	position: fixed;
	right: 17.8%;
	top: 41%;
}

.grid-recommendation .item12{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/linkin.jpg");
	position: fixed;
	right: 5.8%;
	top: 41%;
}

.grid-recommendation .item13{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/maroon.jpg");
	position: fixed;
	right: 65.8%;
	top: 62.4%;
}

.grid-recommendation .item14{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/paramore.png");
	position: fixed;
	right: 53.8%;
	top: 62.4%;
}

.grid-recommendation .item15{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/pilots.png");
	position: fixed;
	right: 41.8%;
	top: 62.4%;
}

.grid-recommendation .item16{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/slipknot.jpg");
	position: fixed;
	right: 29.8%;
	top: 62.4%;
}

.grid-recommendation .item17{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/stripes.jpg");
	position: fixed;
	right: 17.8%;
	top: 62.4%;
}

.grid-recommendation .item18{
	height: 176px;
	width: 176px;
	background-image: url("../img/concerts/recommendations/top.jpg");
	position: fixed;
	right: 5.8%;
	top: 62.4%;
}

.artist_name{
	color: #FFFFFF;
	text-align: center;
	font-family: monospace;
	font-size: 120%;
	background-color: rgba(77, 77, 77, 0.50);
	cursor: pointer;
	opacity: 0;
}

.grid-recommendation .item1:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item2:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item3:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item4:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item5:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item6:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item7:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item8:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item9:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item10:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item11:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item12:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item13:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item14:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item15:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item16:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item17:hover .artist_name{
	opacity: 1;
}

.grid-recommendation .item18:hover .artist_name{
	opacity: 1;
}

/******** Near concerts page ********/
.near_scroll{
	position: absolute;
	background-color:rgba(77, 77, 77,0.97);
	max-width: 39.52%;
	max-height: 10%;
	top:20%;
	left:22%;
	padding:16.75%;
	width:38.7%;
	height: 60%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.near_scroll .concert{
	position: relative;
	background-color:rgb(71, 71, 71);
	bottom: 285%;
	right: 42%;
	width: 184%;
	height: 200%;
	margin-bottom: 2%;
}

.near_scroll .concert img{
	max-width: 100%;
	max-height: 100%;
}

.near_scroll .concert .name_artist{
	color: white;
	font-family: monospace;
	font-size: 35px;
	position: relative;
	bottom: 100%;
	left: 13%;
}

.near_scroll .concert .location_date{
	color: white;
	font-family: monospace;
	font-size: 20px;
	position: relative;
	bottom: 100%;
	left: 13%;
}

.near_scroll .concert .city_near{
	background-color: red;
	font-family: monospace;
	position: relative;
	left:80%;
	bottom: 242.5px;
	height: 99.5%;
	width:20%;
	z-index: 0;
}

.near_scroll .concert .city_near img{
	height: 100%;
	width:100%;
	position: relative;
}

.near_scroll .concert .city_near .flag{
	background-color: green;
	font-family: monospace;
	position: relative;
	left:63%;
	bottom:101%;
	height: 70px;
	width:70px;
	z-index: 1;
	border-radius: 200px 200px 200px 200px;
	border: 4px solid #000000;
}

.near_scroll .concert .city_near .titulo{
	font-family: monospace;
	text-align: center;
	position: relative;
	left:0px;
	bottom: 130px;
	color: white;
	z-index: 2;
	font-size:40px;
	background-color:rgba(25, 127, 163,0.5);
}

.near_scroll .concert .city_near .flag img{
	height: 100%;
	width:100%;
	position: relative;
	border-radius: 200px 200px 200px 200px;
}

/******** Add album page ********/
.mitad_izq{
	background-color: rgba(77, 77, 77,0.97);
	position: fixed;
	top:20%;
	left:20%;
	width:40%;
	height:79%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.mitad_dcha{
	background-color: rgba(77, 77, 77,0.97);
	position: fixed;
	top:20%;
	left:61%;
	width:38%;
	height:79%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.mitad_izq .newstudio{
	background-color:  rgba(77, 77, 77, 0.97);
	position: relative;
	top:10%;
	width:99%;
	height:30%;
	margin-bottom: 5%;
}

.mitad_izq .newstudio img{

	position: relative;
	width:200px;
	height:200px;
}

.mitad_izq .newstudio .listado{
	position: relative;
	color:white;
	left:34%;
	width: 66%;
	height: 80%;
	bottom:99%;
	overflow-y: scroll;
	overflow-x: hidden;
}

#deletesong{
	position: absolute;
	background-color: red;
	color:white;
	right:5%;
	width: 25%;
	height: 11%;
	border-radius: 28px 28px 28px 28px;
	font-size: 10px;
	border-color: red;
}

.mitad_izq .newstudio .listado .addsong{
	position: absolute;
	background-color: green;
	color:white;
	left:5%;
	margin-top: 5px;
	width: 90%;
	height: 11%;
	border-radius: 28px 28px 28px 28px;
	font-size: 10px;
	border-color: green;
	padding-bottom: 4%;
}

.mitad_izq .newstudio .deletealbum{
	position: absolute;
	background-color: red;
	color:white;
	right:1%;
	width: 65%;
	height:20px;
	border-radius: 28px 28px 28px 28px;
	font-size: 10px;
	border-color: red;
	bottom:3%;
}

.mitad_dcha .abajo{
	top:5%;
	background-color: rgba(77, 77, 77,1);
	position:relative;
	height:10%;
	text-align: center;
	padding-top: 5%;
	color:white;
	margin-bottom: 5%;
}

.mitad_dcha .abajototal{
	background-color: rgba(77, 77, 77,1);
	position:relative;
	overflow-y: scroll;
	overflow-x: hidden;
	color:white;
	top:2%;
	height:150px;
}

.mitad_dcha .abajo .Addasong{
	background-color: green;
	border-radius: 28px 28px 28px 28px;
	position:relative;
	height:70%;
	width: 99%;
	text-align: center;
	color:white;
	border-color: green;
	bottom: 5%;
}

.mitad_dcha .abajo .casilla1{
	position: relative;
	border-radius: 8px 8px 8px 8px;
	border-color: green;
	left:10%;
	height:30px;
	width:220px;
}

.mitad_dcha .submit{
	top: 20px;
	background-color:#197fa3;
	color:white;
	border-color:#197fa3;
	position: relative;
	width: 98%;
	left:1%;
	border-radius: 28px 28px 28px 28px;
}

.addersong{
	position: fixed;
	top:29%;
	height:20%;
	width:79%;
	background-color:rgba(25, 127, 163,0.97);
	left:20%;
	border-radius: 42px 42px 42px 42px;
	border: 5px solid #FFFFFF;
	color:white;
	text-align: center;
}

.addersong .casilla3{
	left:15%;
	position:relative;
	background-color: black;
	color:white;
	width: 50%;
}

.addersong .submit{
	top:20px;
	position:relative;
	height:20%;
	width:80%;
	color:blue;
	background-color: white;
	border-color: blue;
	border-radius: 28px 28px 28px 28px;
	margin-bottom: 1%;
}

#tiempo{
	position:absolute;
	right:35%;
}

#centrado{
	position:relative;
	border-radius: 28px 28px 28px 28px;
	top:2%;
	left:2%;
	background-color:#197fa3;
	color: white;
	max-width:50%;
	height:5%;
	text-align: center;
	padding-top: 10px;
	font-family: monospace;
	font-weight: bold;
	font-size: 20px;
}

/******** Detailed artist's concerts page *******/
.autor{
	position:fixed;
	top:5%;
	left:22%;
	width:11%;
	height:24%;
	border-radius:200px 200px 200px 200px;
	border-style: solid;
	border-width: 5px;
	border-color: #197fa3;
}

.autor img{
	position: relative;
	width:100%;
	height:100%;
	border-radius:200px 200px 200px 200px;
}

.name{
	position: fixed;
	background-color:#197fa3;
	color: white;
	top:10%;
	left:35%;
	width:15%;
	height:5%;
	text-align: center;
	padding-top: 1%;
	font-size: 40px;
	padding-bottom: 2%;
	font-family: monospace;
	border-radius: 28px 28px 28px 28px;
}

.listaciudades{
	background-color: rgba(77, 77, 77,0.9);
	position:fixed;
	top:31%;
	left:19%;
	width:80%;
	height:50%;
	border-radius:28px 28px 28px 28px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.listaciudades .continentes{
	background-color: rgba(0,0,0,0);
	position:relative;
	top:0px;
	border-radius:28px 28px 0px 0px;
	height:15%;
	width: 100%;
}

.listaciudades .continentes .cont{
	background-color: #197fa3;
	position: relative;
	top:4%;
	border-radius:28px 28px 28px 28px;
	width:14.75%;
	height:55%;
	left:5px;
	border: 4px solid #000000;
	float: left;
	margin-left: 1%;
	text-align: center;
	padding-top: 1%;
	font-size: 18px;
	color: white;
	font-weight: bold;
}

.listaciudades .countries{
	position:relative;
	border-radius:0px 0px 0px 28px;
	top:0px;
	left:0px;
	height:85%;
	width: 15.5%;
}

.listaciudades .countries .flag{
	position:relative;
	height:31px;
	width:31px;
	top:3%;
	left:1%;
	border-radius: 200px 200px 200px 200px;
	float: left;
	border:1px solid #000000;
	margin-left: 1%;
	margin-bottom: 2%;
}

.listaciudades .countries .flag img{
	height: 100%;
	width:100%;
	position: relative;
	border-radius: 200px 200px 200px 200px;
	z-index: 0;
}

.listaciudades .countries .flag .titulo{
	position: relative;
	background-color: #197fa3;
	color:white;
	height: 70%;
	width:100%;
	bottom: 36px;
	z-index: 1;
	border-radius: 200px 200px 200px 200px;
	text-align: center;
	padding-top: 30%;
	font-size: 10px;
	font-weight: bold;
	opacity: 0;
	cursor: pointer;
}

.listaciudades .countries .flag .titulo:hover {
	opacity: 1;
}

.listaciudades .horarios{
	position:relative;
	border-radius:0px 0px 28px 0px;
	bottom:85%;
	left:16%;
	height:85%;
	width: 84%;
	overflow-y: scroll;
}

.listaciudades .horarios .hora{
	background-color: rgba(77,77,77,1);
	top:1%;
	position: relative;
	left:1px;
	height: 10%;
	width:99.5%;
	margin-bottom: 1%;
}

.listaciudades .horarios .hora .nombre{
	position: relative;
	background-color:rgba(77,77,77,1);
	color:white;
	left:5px;
	top:0px;
	height: 99%;
	width:20%;
	text-align: center;
	padding-top: 1px;
	font-size:30px;
}

.listaciudades .horarios .imagen{
	position: relative;
	left:24%;
	bottom:33px;
	height: 101%;
	width:13%;
	border-radius: 20px 20px 20px;
}

.listaciudades .horarios .imagen img{
	position: relative;
	height:100%;
	width:100%;
	border-radius: 20px 20px 20px;
}

.listaciudades .horarios .time{
	position: relative;
	left:39%;
	height: 89%;
	width:20%;
	bottom:66px;
	color:white;
	text-align:center;
	padding-top:2px;
	font-weight: bold;
	font-size: 25px;
}

.listaciudades .horarios .price{
	position: relative;
	left:61%;
	height: 91%;
	width:10%;
	bottom:99px;
	color:white;
	text-align:center;
	padding-top:2px;
	font-weight: bold;
	font-size: 25px;
}

.listaciudades .horarios .asistir{
	position:relative;
	background-color: green;
	height: 90%;
	width:10%;
	bottom:131px;
	color:white;
	left:85%;
	border-radius: 20px 20px 20px 20px;
}

.artistarel{
	background-color:rgba(25, 127, 163,0.97);
	border-radius: 28px 28px 0px 0px;
	position:fixed;
	bottom:14%;
	left:45%;
	width:20%;
	height:3%;
	text-align: center;
	color: white;
	padding-top: 1px;
}

.artistarelbox{
	position:fixed;
	bottom:2%;
	left:19%;
	width:81%;
	height:12%;
	background-color:rgba(25, 127, 163,0.5);
	border-radius: 20px 20px 20px 20px;
}

.artistarelbox .box{
	position:relative;
	top: 5%;
	left: 1.2%;
	width:90.5px;
	height:90.5px;
	background-color: green;
	margin-right: 5px;
	float: left;
	background-color:rgba(25, 127, 163,1);
	border-radius: 20px 20px 20px 20px;
}

.artistarelbox .box .titulo{
	z-index: 100;
	background-color: rgba(25, 127, 163,0.5);
	color:white;
	position: relative;
	bottom: 70%;
	text-align: center;
	border-radius:28px 28px 28px 28px;
	cursor: pointer;
	opacity: 0;
}

 .artistarelbox .box:hover .titulo{
	opacity: 1;
}

.artistarelbox .box img{
	width:100%;
	height: 100%;
	position: relative;
	border-radius: 20px 20px 20px 20px;
	z-index: 1;
}

img{
	position: relative;
	max-width: 100%;
	max-height: 100%;
}

/* Dropdown Button */
.musica .collection .dropbtn {
	 background-color: #197fa3;
	 position: relative;
	 color: white;
	 padding: 16px;
	 font-size: 16px;
	 border: none;
	 cursor: pointer;
	 border-radius: 28px 28px 28px 28px;
	 left:5%;
	 top:5px;
	 width: 200px;
}

/* Dropdown button on hover & focus */
.musica .collection .dropbtn:hover, .dropbtn:focus {
	 background-color: white;
	 color:blue;
	 border-radius: 28px 28px 0px 0px;
}

/* The container <div> - needed to position the dropdown content */
.musica .collection .dropdown {
	 position: relative;
	 display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.musica .collection .dropdown-content {
	 display: none;
	 position: relative;
	 background-color:#197fa3;
	 left:5%;
	 top:5px;
	 width: 200px;
	 text-align: center;
	 z-index: 1;
}

/* Links inside the dropdown */
.musica .collection .dropdown-content .box {
	 color: white;
	 position: relative;
	 display: block;
	 border-style: solid;
 	border-width: 1px;
 	border-color: white;

}

/* Change color of dropdown links on hover */
.musica .collection .dropdown-content a:hover{
	background-color: #ddd
}

/*
	Show the dropdown menu (use JS to add this class to the
	.dropdown-content container when the user clicks on the
	dropdown button)
*/
.musica .collection .show {
	display:block;
}
