.stage1{
	background-image:URL("../img/fondo4.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.stage2{
	background-image:URL("../img/fondo3.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.info{
	background-color: rgba(77, 77, 77, 0.90);
	position: absolute;
	right:0px;
	height:5px;
	width: 250px;
	padding: 20px;
	margin: 0px;
	bottom:20px;
	color: #FFFFFF;
	font-size: 10px;
	font-family:monospace;
}

.casilla{
	position: relative;
	border-color: blue;
	right:20%;
	left:0%;
	padding: 3%;
	width: 95%;
	text-align: center;

}

.btn-group .boton-right1{
	border-radius: 0px 200px 200px 0px;
}

.btn-group .boton-left1{
	border-radius: 200px 0px 0px 200px;
}

.btn-group .boton-right2{
	border-radius: 0px 28px 0px 0px;
}

.btn-group .boton-left2{
	border-radius: 28px 0px 0px 0px;
}

.boton{
	color:white;
	border-radius: 200px 200px 200px 200px;
	position: relative;
	border-color: blue;
	background-color: blue;
	padding: 3%;
	width: 99%;
}

.btn-group button {
	font-family: monospace;
	font-weight: bold;
	background-color: #197fa3;
	border-radius: 0px 0px 0px 0px;
    border-color: white;
    color: white;
    padding: 3%;
    cursor: pointer;
    float: left;
	width: 50%;
}


/* Clear floats (clearfix hack) */
.btn-group:after {
    content:"";
    clear: both;
    display: table;
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #FFFFFF;
	color:blue;
}

.milibreria{
	position: fixed;;
	left:22%;
	max-height: 5%;
	max-width: 20%;
	top:15%;

}

.milibreria img{
	max-width: 10%;
	max-height: 10%;
}

.sidebar_principal{
	text-align: center;
	image-orientation:left;
	color: #FFFFFF;
	font-size: 400%;
	font-family:monospace;
	font-weight:bold
}

.sidebar_user{
	position: relative;
	text-align: center;
	color: #FFFFFF;
	font-size: 150%;
	font-family:monospace;
	font-weight:bold;
	top:20px;
}

.sidebar .ajustes{
	position: relative;
	top:30px;
	left:5%;
	color: #FFFFFF;
	font-size: 100%;
	font-family:monospace;
	line-height: 20px;
}

.sidebar{
	background-color: rgba(77, 77, 77, 0.90);
	border-radius: 0px 28px 28px 0px;
	position: fixed;
	left:0%;
	height:10%;
	width: 15%;
	padding: 1%;
	margin: 0%;
	top:2%;
}

.sidebar img{
	position: relative;
	max-width: 30%;
	max-height: 30%;
	border-radius: 200px 200px 200px 200px;
	bottom:auto;
}

.musica .principal{
	text-align: center;
	color: #FFFFFF;
	font-size: 100%;
	font-family:monospace;
	font-weight:bold;
}

.exit_sidebar{
	position: fixed;
	background-color: rgba(255,0,0,1);
	bottom:3%;
	left:0%;
	margin: 0%;
	height: 5%;
	border-radius: 0px 28px 28px 0px;
	padding: 0%;
	width: 17%;
	text-align: center;
	color:white;
	font-family:monospace;
	font-weight:bold;
	font-size:200%;
	line-height: 45px;
}

.buscador{
	border-radius: 0px 0px 28px 28px;
	background-color:rgba(77, 77, 77, 0.97);
	position:fixed;
	top:0px;
	right:3%;
	padding:1%;
	width: 10%;
	color:rgba(77, 77, 77, 0.97);
}

.buscador .casilla{
	border-radius: 28px 28px 28px 28px;
	position: relative;
	border-color: blue;
	right:20%;
	left:0%;
	padding: 3%;
	width: 95%;
	text-align: center;
}

.musica .collection{
	color:white;
}

.musica .collection h1{
	text-decoration: underline;
}

/*
	@todo: Que el scroll no se salga de la barra cuando se cambia
	el tamaño de ventana
*/

.musica .collection .genres{
	position: relative;
	width: 100%;
	height: 400px;
	bottom: 50%;
	overflow-y: scroll;

}

.musica img{
	max-width: 20%;
	max-height: 20%;
}


.musica{
	background-color: rgba(77, 77, 77, 0.97);
	border-radius: 0px 28px 28px 0px;
	position: fixed;
	left:0%;
	width: 15%;
	padding: 1%;
	margin: 0%;
	top:20%;
	bottom:10%;
}


.genre{
	position: fixed;
	color:rgba(25,127,163,1);
	border-radius: 30px 30px 30px 30px;
	font-family:monospace;
	font-weight:bold;
	font-size:500%;
	position: fixed;
	left: 22%;
	top:2%;
	background-color: rgba(77, 77, 77,0.97);
	padding: 1%;
	height: 8%;
	text-align:center;
}

.grid-container{
	position: absolute;
	background-color:rgba(77, 77, 77,0.97);
	max-width: 39.52%;
	max-height: 10%;
	top:20%;
	left:22%;
	padding:16.75%;
	width:1000%;
	/* display: grid;
	grid-template-rows: repeat(3,30%);
	grid-template-columns: 30% 30%; */
}

.grid-container .contenedor img{
	height: 176px;
}

.grid-container .contenedor .item1{
	position: fixed;
	right: 65.8%;
	top: 20%;
}

.grid-container .contenedor .item2{
	position: fixed;
	right: 53.65%;
	top: 20%;
}

.grid-container .contenedor .item3{
	position: fixed;
	right: 41.5%;
	top: 20%;
}

.grid-container .contenedor .item4{
	position: fixed;
	right: 29.35%;
	top: 20%;
}

.grid-container .contenedor .item5{
	position: fixed;
	right: 17.2%;
	top: 20%;
}

.grid-container .contenedor .item6{
	position: fixed;
	right: 5.05%;
	top: 20%;
}

.grid-container .contenedor .item7{
	position: fixed;
	right: 65.8%;
	top: 41.34%;
}

.grid-container .contenedor .item8{
	position: fixed;
	right: 53.65%;
	top: 41.34%;
}

.grid-container .contenedor .item9{
	position: fixed;
	right: 41.5%;
	top: 41.34%;
}

.grid-container .contenedor .item10{
	position: fixed;
	right: 29.35%;
	top: 41.34%;
}

.grid-container .contenedor .item11{
	position: fixed;
	right: 17.2%;
	top: 41.34%;
}

.grid-container .contenedor .item12{
	position: fixed;
	right: 5.05%;
	top: 41.34%;
}

.grid-container .contenedor .item13{
	position: fixed;
	right: 65.8%;
	top: 62.58%;
}

.grid-container .contenedor .item14{
	position: fixed;
	right: 53.65%;
	top: 62.58%;
}

.grid-container .contenedor .item15{
	position: fixed;
	right: 41.5%;
	top: 62.58%;
}

.grid-container .contenedor .item16{
	position: fixed;
	right: 29.35%;
	top: 62.58%;
}

.grid-container .contenedor .item17{
	position: fixed;
	right: 17.2%;
	top: 62.58%;
}

.grid-container .contenedor .item18{
	position: fixed;
	right: 5.05%;
	top: 62.58%;
}

.artista_lista .artistas_Secundarios img{
	height:50px;
	width:40px;
}

.artista_selecionado{
	border-radius: 0px 28px 28px 0px;
	position: fixed;
	background-color:rgba(77, 77, 77,0.97);
	top:17%;
	left:33.3%;
	height:36%;
	width:50%;
	color:white;
}

#blanco{
	color:#197fa3;
}

#alineado{
	text-align: center;
	font-size:40px;
}

.artista_selecionado .epoca{
	position: relative;
	left:1%;
	width:30%;
	height:10%;
}

.artista_selecionado .ciudades{
	position:relative;
		overflow-y: scroll;
	height:60%;
	bottom:	10%;

}

.artista_selecionado .ciudades img{
	height:20px;
	width:20px;

}

.artista_selecionado .busqueda_por_ciudades{
	position: relative;
	bottom: 10%;
	left: 70%;
	width: 20%;
	height:20%
}

.tituconciertos{
	border-radius: 28px 0px 0px 28px;
	background-color:#197fa3;
	color:white;
	position: fixed;
	text-align:center;
	color:white;
	left:84%;
	top:12%;
	width:16%;
	height:4%;
	font-family:monospace;
	font-weight:bold;
}

.conciertos_cerca{
	border-radius: 28px 0px 0px 28px;
	background-color:rgba(77, 77, 77,0.97);
	position: fixed;
	color:white;
	left:84%;
	top:17%;
	width:16%;
	height:36%;
	overflow-y: scroll;
}

.calendario{
	background-color:rgba(77, 77, 77,0.97);
	position: fixed;
	bottom:3%;
	left:33.5%;
	width: 66%;
	height:43%;
}

#sinpuntos{
	position: relative;
	right:8%;
	list-style-type: none;
}

#puntos{
	list-style-type:circle;
}

/*solo funciona en Chrome*/
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 28px 28px 28px 28px;

}

::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
	border-radius: 28px 28px 28px 28px;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.44, rgb(122,153,217)),color-stop(0.72, rgb(73,125,189)),color-stop(0.86, rgb(28,58,148)));
}

img{
	position: relative;
	max-width: 100%;
	max-height: 100%;
}
