.background{
	background-color: #dddcdc;
}

.user_sidebar{
	background-color: rgba(77, 77, 77, 0.90);
	border-radius: 0px 28px 28px 0px;
	position: absolute;
	left:0px;
	height:100px;
	width: 250px;
	padding: 20px;
	margin: 0px;
	top:20px;

	color: #FFFFFF;
	font-size: 20px;
	font-family:monospace;
	font-weight:bold
}

.user_sidebar img{
	position: relative;
	max-width: 15%;
	/* max-height: 30%; */
	border-radius: 200px 200px 200px 200px;
	/* top:1px; */
}

.main_sidebar{
	background-color: rgba(77, 77, 77, 0.97);
	border-radius: 0px 28px 28px 0px;
	position: absolute;
	left:0px;
	height:450px;
	width: 250px;
	padding: 20px;
	margin: 0px;
	bottom:100px;
	top:180px;

	text-align: left;
	color: #FFFFFF;
	font-size: 30px;
	font-family:monospace;
	font-weight:bold;
}

.main_sidebar genres{
	width: 200px;
	height: 100px;
	overflow-y: scroll;

	text-align: left;
	color: #FFFFFF;
	font-size: 20px;
	font-family:monospace;
	font-weight:bold;
}

.exit_sidebar{
	background-color: rgba(77, 77, 77, 0.97);
	border-radius: 0px 28px 28px 0px;
	position: absolute;
	left:0px;
	height:30px;
	width: 250px;
	padding: 20px;
	margin: 0px;
	bottom:60px;

	
}

.exit_text{
	position: absolute;
	/* text-align: right; */
	color: #FFFFFF;
	font-size: 40px;
	font-family:monospace;
	font-weight:bold;
	line-height: 0;
	bottom:0px;
	left:90px;
}