/********** Backgrounds **********/

.stage2{
	background-image:URL("img/backgrounds/fondo3.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.stage3{
	background-image:URL("img/backgrounds/fondo2.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.stage4{
	background-image:URL("img/backgrounds/fondo1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.stage5{
	background-image:URL("img/backgrounds/fondo5.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

.stage6{
	background-image:URL("img/backgrounds/fondo6.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}
.stage7{
	background-image:URL("img/backgrounds/fondo7.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

img{
	position: relative;
	max-width: 100%;
	max-height: 100%;
}
/***************************************************************************************/
/*********************************INDEX*************************************************/
/***************************************************************************************/
@media all and (max-width: 600px){
	.sidebar{
		background-color: rgba(77, 77, 77, 0.90);
		border-radius: 0px 2vw 2vw 0px;
		position: fixed;
		left:0%;
		height:10%;
		width: 35%;
		padding: 1%;
		margin: 0%;
		top:2%;
		font-size:8px;
	}
}

@media all and (min-width: 600px){
	.sidebar{
		background-color: rgba(77, 77, 77, 0.90);
		border-radius: 0px 2vw 2vw 0px;
		position: fixed;
		left:0%;
		height:10%;
		width: 15%;
		padding: 1%;
		margin: 0%;
		top:2%;
		font-size:8px;
	}
}

	.sidebar_principal{
		position: absolute;
		color: #FFFFFF;
		font-size: 400%;
		font-family:monospace;
		font-weight:bold
	}

	.sidebar_principal .encabezado{
	position: fixed;
	left:0.25%;
	top:3%;
	max-width: 90%;
	max-height: 90%;
	width:15%;
	height:11%;
	}

	@media all and (max-width: 600px){
		.sidebar_principal .imagen {
			position:fixed;
			top:2.95%;
			left:1.5%;
			width:10%;
			height: 10%;
			max-width: 100%;
			max-height: 100%;
		}
	}

	@media all and (min-width: 600px){
		.sidebar_principal .imagen {
			position:fixed;
			top:3.5%;
			left:0.5%;
			width:5%;
			height: 10%;
			max-width: 100%;
			max-height: 100%;
		}
	}
	@media all and (max-width: 600px){
		.sidebar_principal .titulo {
			position:relative;
			top:25%;
			left:90%;
			padding-left: 1%;
			width:10%;
			height: 10%;
			max-width: 100%;
			max-height: 100%;
			font-size: 4vw;
			padding-top: 1.5%;
		}
	}

	@media all and (min-width: 600px){
		.sidebar_principal .titulo {
			position:relative;
			top:30%;
			left:40%;
			padding-left: 1%;
			width:10%;
			height: 10%;
			max-width: 100%;
			max-height: 100%;
			font-size: 2vw;
			padding-top: 1.5%;
		}
	}

	.sidebar_principal .imagen img{
		min-width: 100%;
		max-width: 100%;
		min-height: 100%;
		max-height: 100%;
	}



	@media all and (max-width: 600px){
		.musica{
			background-color: rgba(77, 77, 77, 0.97);
			border-radius: 0px 2vw 2vw 0px;
			position: fixed;
			left:0%;
			width: 35vw;
			padding: 1%;
			height: 70vh;
			margin: 0%;
			top:20%;
			bottom:10%;
		}
	}
	@media all and (min-width: 600px){
		.musica{
			background-color: rgba(77, 77, 77, 0.97);
			border-radius: 0px 2vw 2vw 0px;
			position: fixed;
			left:0%;
			width: 15vw;
			padding: 1%;
			height: 70vh;
			margin: 0%;
			top:20%;
			bottom:10%;
		}
	}

	.musica p{
		font-size: 1vw;
	}

	.musica .principal{
		text-align: center;
		color: #FFFFFF;
		font-size: 1vw;
		font-family:monospace;
		font-weight:bold;
		position: relative;
		height: 90%;
		width:100%;
		max-width:100%;
		max-height: 90%;
	}

	.musica .principal h1{
		top:0vw;
		font-size: 3vmin;
		position: relative;
	}
	.musica .principal p{

		font-size: 2vmin;
		position: relative;
	}
#info{
	background-color: rgba(77, 77, 77, 0.90);
	position: fixed;
	right:0px;
	height:1%;
	width: 20%;
	padding: 1%;
	margin: 0px;
	bottom:5%;
	color: #FFFFFF;
	font-size: 0.75vw;
	font-family:monospace;
}
/***********************************************************************************************************/
/**********************************************************************************************************/
/*********************************************************************************************************/
.button_studio{
 border-radius: 0px 0px 3vmin 3vmin;
 position: fixed;
 top:0%;
 left: 55%;
 height: 9%;
 width: 20%;
 font-family: monospace;
 background-color: #197fa3;
 color: white;
 font-size: 2vmin;
 border:0.25vmin solid #555555;
 cursor: pointer;
}

.dora{
	border-radius: 0px 0px 3vmin 3vmin;
	background-color:rgba(77, 77, 77, 0.97);
	position:fixed;
	top:0%;
	right:6%;
	height:4.5%;
	padding:1%;
	width: 15%;
	color:rgba(77, 77, 77, 0.97);
}

.dora .dorado{
	border-radius: 3vmin 3vmin 3vmin 3vmin;
	position: fixed;
	right:7%;
	top:2%;
	height:5%;
	width: 15%;
	text-align: center;
	/* border: 0.2vmin solid #197fa3; */
	font-size:3vmin;
}

.exit_sidebar{
	position: fixed;
	background-color: rgba(255,0,0,1);
	top:0%;
	right:0%;
	margin: 0%;
	height: 8.5%;
	border-radius: 0px 0px 0px 3vmin;
	padding: 0%;
	width: 4%;
	color:white;
	font-family:monospace;
	font-weight:bold;
	font-size:200%;
	line-height: 45px;
	/* border: 0.2vmin solid #555555; */
	cursor: pointer;
}

.exit_sidebar img{
	padding-top: 25%;
	padding-left: 30%;
	position: relative;
	height:50%;
	width:50%;
}

.sidebar .user{
	position:relative;
	height:80%;
	width:112%;
	border-radius: 0px 2vw 0px 0px;
	bottom:20%;
	right:6%;
}

.sidebar .user .titulo{
	position: relative;
	left:26%;
	height:60%;
	width:70%;
	bottom: 90%;
	font-size: 3vmin;
	color: white;
	text-align: center;
}

.sidebar .user .imagen{
	position: relative;
	width:24%;
	height:100%;
	top:5%;
}

.sidebar .user .imagen img{
	position:relative;
	max-width: 100%;
	max-height:100%;
	border-radius: 0px 0px 0px 0px;
}

.sidebar .options{
	position: relative;
	width:90%;
	height:40%;
	background-color: #197fa3;
	bottom:10%;
	text-align: center;
	color:white;
	font-size: 3vmin;
	border-radius: 3vmin 3vmin 3vmin 3vmin;
	cursor: pointer;
}

.sidebar .options img{
	position:relative;
	top:25%;
	left:15%;
	float:left;
	max-height:60%;
	width:13%;
}

.boton_derecha{
	position:fixed;
	top:22%;
	left:0.5%;
	height:4.5%;
	width:8%;
	background-color: #197fa3;
	border-radius: 2vmin 0px 0px 2vmin;
	border-top:0.25vmin solid white;
	border-bottom:0.25vmin solid white;
	border-left:0.25vmin solid white;
	text-align: center;
	padding-top: 1%;
	color: white;
	font-size: 2vmin;
	cursor: pointer;

}

.boton_derecha img{
	position:relative;
	float:left;
	max-height:60%;
	max-width:60%;
	left:15%
}

.boton_izquierda{
	position:fixed;
	top:22%;
	left:8%;
	height:4.5%;
	width:8%;
	background-color: #197fa3;
	border-radius: 0vmin 2vmin 2vmin 0vmin;
	border-top:0.25vmin solid white;
	border-bottom:0.25vmin solid white;
	border-right:0.25vmin solid white;
	border-left:0.25vmin solid black;
	text-align: center;
	padding-top: 1%;
	color: white;
	font-size: 2vmin;
	cursor: pointer;
}
.boton_izquierda img{
	position:relative;
	float:left;
	max-height:60%;
	max-width:60%;
	left:15%
}


/* Add a background color on hover */
.btn-group button:hover {
	background-color: #FFFFFF;
	color:blue;
}

.casilla{
	position: relative;
	border-color: blue;
	border-width: 0.25vw;
	right:20%;
	left:0%;
	padding: 3%;
	width: 70%;
	height: 2vh;
	text-align: center;
	font-size: 2.5vmin;
}

.contenedor{
	position: fixed;
	height:87%;
	width:81%;
	top:10%;
	left:23%;
}

.contenedor .fila{
	position:relative;
	top:1%;
	height:30%;
	width:100%;
	margin-bottom: 2%;
}

.contenedor .fila .title{
	position:relative;
	background-color: #197fa3;
	top:3%;
	left:0%;
	height:15%;
	width:20%;
	padding-top: 1%;
	padding-bottom: 1%;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	text-align: center;
	border:0.5vmin solid #FFFFFF;
	color:white;
	font-size: 1.5vw;
}

@media all and (min-width:800px){
	.contenedor .row_main{
		position: relative;
		left:0%;
		height:75%;
		width: 100%;
		top:6%;
	}
}

@media all and (min-width:800px){
	.contenedor .row_main .recom1{
		height: 100%;
		width: 10%;
		background-color: black;
		position: relative;
		top: 0%;
		left: 0%;
		float:left;
		margin-right: 0.5%;
	}
}

@media all and (max-width:800px){
	.contenedor .row_main{
		position: relative;
		left:0%;
		height:75%;
		width: 110%;
		top:6%;
		overflow-x: auto;
	}
}

@media all and (max-width:800px){
	.contenedor .row_main .recom1{
		height: 100%;
		width: 20%;
		background-color: black;
		position: relative;
		top: 0%;
		left: 0%;
		float:left;
		margin-right: 1%;
	}
}

.contenedor .row_main .recom1 img{
	height: 100%;
	width: 100%;
	position:relative;
}

.contenedor .row_main .recom1 .add{
	height: 20%;
	width:20%;
	position: absolute;
	right: 75%;
	bottom: 75%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
	z-index: 1;
}

.contenedor .row_main .recom1 .close{
	height: 15%;
	width:15%;
	position: absolute;
	left: 80%;
	bottom: 80%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
}

.contenedor .row_main .recom1 .love{
	height: 20%;
	width:20%;
	position: relative;
	left: 75%;
	bottom:25%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
	z-index: 1;
}

.contenedor .row_main .recom1:hover .add{
	opacity: 1;
}

.contenedor .row_main .recom1:hover .close{
	opacity: 1;
}

.contenedor .row_main .recom1:hover .love{
	opacity: 1;
}

.musica .collection .dropbtn {
	background-color: #197fa3;
	position: fixed;
	color: white;
	padding: 0.6%;
	font-size: 2.5vmin;
	border: none;
	border-radius: 2vmin 2vmin 2vmin 2vmin;
	top:30%;
	width: 15%;
	height:5%;
	left:1%;
	z-index: 1;
}

.musica .collection .orden{
	position:fixed;
	height:55%;
	width:16%;
	top:36%;
	left:0.5%;
	overflow-y: scroll;
	z-index: 0;
}
.musica .collection .orden .especialized{
	background-color: rgba(77,77,77,1);
	position: relative;
	margin-bottom: 1%;
	top:0.5%;
	width:99%;
	height:8%;
	text-align: center;
	color:white;
	padding-top: 3%;
	font-size: 2.5vmin;
	border-bottom:0.25vmin solid white;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}
.musica .collection .orden .especialized_back{
	background-color:black;
	position: relative;
	margin-bottom: 1%;
	top:0.5%;
	width:99%;
	height:8%;
	text-align: center;
	color:#197fa3;
	padding-top: 3%;
	font-size: 2.5vmin;
	border-bottom:0.25vmin solid white;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.genre{
	color:rgba(25,127,163,1);
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	position: fixed;
	left: 22%;
	top: 2%;
	background-color: rgba(77, 77, 77,0.97);
	padding: 1%;
	height: 8%;
	text-align: center;
	font-family: monospace;
	font-weight: bold;
	font-size: 9vmin;
	line-height: 0.9em;
}


.mitad_izq{
	background-color: rgba(77, 77, 77,0.97);
	position: fixed;
	top:20%;
	left:20%;
	width:40%;
	height:79%;
	overflow-y: scroll;
	overflow-x: hidden;
}


.centrado{
	position:relative;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	top:2%;
	left:2%;
	background-color:#197fa3;
	color: white;
	max-width:50%;
	height:5%;
	text-align: center;
	padding-top: 1%;
	font-family: monospace;
	font-weight: bold;
	font-size: 1.5vw;
}

.mitad_izq .newstudio{
	background-color:  rgba(77, 77, 77, 0.97);
	position: relative;
	top:10%;
	width:99%;
	height:30%;
	margin-bottom: 5%;
}

.mitad_izq .newstudio img{

	position: relative;
	width:30%;
	height:100%;
}

.mitad_izq .newstudio .listado{
	position: relative;
	color:white;
	left:34%;
	width: 66%;
	height: 80%;
	bottom:99%;
	overflow-y: scroll;
	overflow-x: hidden;
	font-size: 1vw;
}

.mitad_izq .newstudio h1{
	font-size: 2vw;

}

.tiempo{
	position:relative;
	left:15%;
	font-size: 1vw;

}

.deletesong{
	position: relative;
	background-color: red;
	color:white;
	left:15%;
	width: 25%;
	height: 11%;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	font-size: 0.5vw;
	border-color: red;
}

.mitad_izq .newstudio .listado .addsong{
	position: absolute;
	background-color: green;
	color:white;
	left:5%;
	margin-top: 1%;
	width: 90%;
	height: 11%;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	font-size: 1vw;
	padding-bottom: 5%;
	border:0.5vmin solid green;
}

.mitad_izq .newstudio .deletealbum{
	position: absolute;
	background-color: red;
	color:white;
	right:1%;
	width:25vw;
	height:2vh;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	font-size: 1vw;
	border:0.5vmin solid red;
	bottom:3%;
	padding-bottom: 3%;
}

.mitad_dcha{
	background-color: rgba(77, 77, 77,0.97);
	position: fixed;
	top:20%;
	left:61%;
	width:38%;
	height:79%;
	overflow-y: hidden;
	overflow-x: hidden;
}

.mitad_dcha .abajo{
	top:5%;
	background-color: rgba(77, 77, 77,1);
	position:relative;
	height:10%;
	text-align: center;
	padding-top: 5%;
	color:white;
	margin-bottom: 5%;
	font-size: 1vw;
}

.mitad_dcha .abajo .casilla1{
	position: relative;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	border-color: green;
	left:10%;
	height:40%;
	width:40%;
	font-size: 1vw;
}

.mitad_dcha .abajototal{
	background-color: rgba(77, 77, 77,1);
	position:relative;
	overflow-y: scroll;
	overflow-x: hidden;
	color:white;
	top:2%;
	height:25%;
	font-size: 1vw;
}

.mitad_dcha .abajo .Addasong{
	background-color: green;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	position:relative;
	height:70%;
	width: 99%;
	text-align: center;
	color:white;
	border:0.5vmin solid green;
	bottom: 5%;
	font-size: 1vw;
}

.mitad_dcha .submit{
	position:relative;
	top: 4%;
	background-color:#197fa3;
	color:white;
	width: 98%;
	left:1%;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	border:0.5vmin solid #197fa3;
	font-size:1vw;
}

.musica .titulo_grupos{
	position: fixed;
	background-color:#197fb5;
	height: 3%;
	top:29.5%;
	left:0.5%;
	width:16%;
	border-radius: 5vmin 0px 0px 5vmin;
	color:white;
	text-align: center;
	padding-top: 0.5%;
	z-index: 1;
	font-size:2vmin;
}

.musica .grupos{
	position:fixed;
	height: 55%;
	top:34%;
	left:0.5%;
	width:16%;
	overflow-y: scroll;
	overflow-x: hidden;
}

.musica .grupos .grupis{
	position: relative;
	top:0.5%;
	left:1%;
	width: 95%;
	height:12%;
	background-color: #197fa3;
	border-bottom: 0.25vmin solid #000000;
	border-radius: 5vmin 0px 0px 5vmin;
}

.musica .grupos .grupis .imagenes{
	position: relative;
	height:90%;
	width:20%;
	left:0.25%;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	top:0.5%;
	border:0.35vmin solid #000000;
}

.musica .grupos .grupis .imagenes img{
	min-width: 100%;
	min-height: 100%;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
}

.musica .grupos .grupis .nome{
	position: relative;
	left:30%;
	bottom:90%;
	color:white;
	height:80%;
	width:60%;
	text-align: center;
	padding-top: 4%;
	font-size: 1vw;
}

.ajustes_principal{
	position: fixed;
	background-color:rgba(77, 77, 77,0.97);
	top:2%;
	width:50%;
	height: 95%;
	left:20%;
	overflow-y: scroll;
	overflow-x: hidden;
	border-radius: 15vmin 0px 0px 0px;
}

.ajustes_principal .nombre{
	position:relative;
	top:5%;
	left:16%;
	color:white;
	font-size:7vw;
}

.ajustes_principal .cambiarimagen{
	position:relative;
	top:10%;
	right:15%;
	color:white;
	background: blue;
	width:20%;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	padding-bottom: 2%;
	font-size: 2vmin;
	height: 3%;
}

.modificar_imagen{
	position: fixed;
	height:50%;
	width:30%;
	top:33%;
	left:22%;
	background-color: #197fa3;
	display:none;
}

.modificar_imagen .close1{
	position: relative;
	background-color: red;
	left: 90%;
	top:0%;
	height:10%;
	width:10%;
	border-radius: 0px 0px 0px 2vmin;
}

.modificar_imagen .close1 img{
	position: relative;
	height:50%;
	width:40%;
	top:20%;
	left:30%;
}

.modificar_imagen .contenido{
	position: relative;
	top:1%;
	height:89%;
	width:100%;
	overflow-y: scroll;
}

.modificar_imagen .contenido .grid{
	position: relative;
	top:0%;
	height:100%;
	width:99%;
}

.modificar_imagen .contenido .grid .image_user{
	position: relative;
	float: left;
	height:35%;
	width:24%;
	background-color: white;
	margin-right: 1%;
	margin-bottom: 1%;
	cursor: pointer;
}

.modificar_imagen .contenido .grid .image_user button{
	width: 100%;
	height: 100%;
	padding: 0px;
	border: 0px;
}

.modificar_imagen .contenido .grid .image_user button img{
	width: 100%;
	height: 100%;
}

.ajustes_principal .cambiarcontrasena{
	position:relative;
	top:10%;
	left:30%;
	height:50%;
	width:60%;
	text-align: center;
	color:white;
	font-size: 1vmin;
}

.ajustes_principal .region{
	position: relative;
	top:1%;
	left:30%;
	text-align: center;
	color:white;
	width:30%;
}

.ajustes_principal .region p{
	position:relative;
	font-size: 1vw;
}

.ajustes_principal .boton3{
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	position: relative;
	left:20%;
	border-color: red;
	background-color: red;
	color:white;
	width:50%;
	height:5%;
	font-size: 2vmin;
}

.orgrupo{
	position:fixed;
	height:75%;
	width:28%;
	left:71%;
	top:10%;
	background-color: rgba(77,77,77,0.9);
}

.orgrupo .titulo{
	color:white;
	position: relative;
	top:2%;
	left:15%;
	background-color:#197fa3;
	text-align: center;
	height:5%;
	width:70%;
	padding-top: 5%;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	font-size: 2vmin;
}

.orgrupo .main{
	position: relative;
	top:3%;
	height:85%;
	width:97%;
	left:1%;;
	overflow-y: scroll;
	overflow-x:hidden;
}

.orgrupo .main .especifico{
	position: relative;
	background-color: rgba(77,77,77,1);
	width:97%;
	height:20%;
	margin-bottom: 2%;
	top:0.5%;
	left:0.5%;
	font-size: 1vw;
}

.orgrupo .main .especifico .textillo{
	position: relative;
	left:5%;
	top:20%;
	width:50%;
	height:50%;
	color:white;
	text-align: center;
	padding-top:2%;
}

.orgrupo .main .especifico .cajetilla{
	position: relative;
	left:60%;
	bottom:30%;
}

.orgrupo .main .especifico .cajetilla3{
	position: relative;
	left:30%;
	top:30%;

}

.reconocimiento {
	background-color: rgba(77,77,77,0.97);
	position: fixed;
	top:88.8%;
	right:0%;
	height:10%;
	width:28%;
	color:red;
	font-style: italic;
	font-family: monospace;
	text-align: center;
	font-size: 2vmin;
}

.addersong{
	position: fixed;
	top:29%;
	height:20%;
	width:79%;
	background-color:rgba(25, 127, 163,0.97);
	left:20%;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	border: 1vmin solid #FFFFFF;
	color:white;
	text-align: center;
}

.addersong p{
	position: relative;
	font-size: 2vmin;
}

.addersong .casilla3{
	left:15%;
	position:relative;
	background-color: black;
	color:white;
	width: 50%;
}

.addersong .submit{
	top:5%;
	position:relative;
	height:20%;
	width:80%;
	color:blue;
	background-color: white;
	border-color: blue;
	border-radius: 5vmin 5vmin 5vmin 5vmin;
	margin-bottom: 1%;
	font-size: 2vmin;
}

.gotostyle{
position: fixed;
width:25%;
top:15%;
height:5%;
left:67.5%;
background-color: rgba(77,77,77,0.97);
border-radius: 5vmin 5vmin 0px 0vmin;
border: 0.5vmin solid #197fa3;
}
.gotostyle .simbolo{

position:relative;
height:100%;
width:20%;
border-radius: 5vmin 0vmin 0px 0vmin;
}
.gotostyle .simbolo img{
	position: relative;
	left:5%;
}
.gotostyle .tituloatras{
	position: relative;
	width:80%;
	height:60%;
	bottom:80%;
	left:20%;
	font-size: 2vmin;
	color:white;
	font-weight: bold;
}
/**************************************AJUSTADO*************************************************/
/***********************************RESPONSIVENES UP*******************************************/

/********** Text input **********/

/********** Buttons **********/

.boton{
	color:white;
	border-radius: 20vw 20vw 20vw 20vw;
	position: relative;
	border-color: blue;
	border-width: 0.15vw;
	background-color: blue;
	padding-bottom: 1%;
	padding-top: 1%;
	width: 90%;
	height:4vh;
	font-size: 1vw;
}

.milibreria{
	position: fixed;;
	left:24.2%;
	max-height: 5%;
	max-width: 20%;
	top:15%;
}

.milibreria img{
	max-width: 10%;
	max-height: 10%;
}

.milibreria_concerts{
	position: fixed;
	top: 15.3%;
	left: 22%;
	width: 70%;
}

.milibreria_concerts .but_my_concerts{
	border-radius: 3vmin 0px 0px 0px;
	background-color: #197ea3;
	width: 25%;
	font-size: 2vmin;
}

.milibreria_concerts .but_my_concerts_in{
	border-radius: 3vmin 0px 0px 0px;
	background-color: #FFFFFF;
	width: 25%;
	font-size: 2vmin;
}

.milibreria_concerts .but_my_concerts img{
	float:left;
}

.milibreria_concerts .but_my_concerts_in img{
	float:left;
}

.milibreria_concerts .but_recom{
	background-color: #197ea3;
	width: 25%;
	font-size: 2vmin;
	right: 0.4%;
	position: relative;
}

.milibreria_concerts .but_recom_in{
	background-color: #FFFFFF;
	width: 25%;
	font-size: 2vmin;
	right: 0.4%;
	position: relative;
}

.milibreria_concerts .but_recom img{
	float:left;
}

.milibreria_concerts .but_recom_in img{
	float:left;
}

.milibreria_concerts .but_near{
	border-radius: 0px 3vmin 0px 0px;
	background-color: #197ea3;
	width: 25%;
	font-size: 2vmin;
	position: relative;
	right: 0.8%;
}

.milibreria_concerts .but_near_in{
	border-radius: 0px 3vmin 0px 0px;
	background-color: #FFFFFF;
	width: 25%;
	font-size: 2vmin;
	position: relative;
	right: 0.8%;
}

.milibreria_concerts .but_near img{
	float:left;
}

.milibreria_concerts .but_near_in img{
	float:left;
}

.milibreria_concerts img{
	max-width: 10%;
	max-height: 10%;
}

/********** Sidebar **********/


.sidebar_user{
	position: relative;
	text-align: center;
	color: #FFFFFF;
	font-size: 150%;
	font-family:monospace;
	font-weight:bold;
	top:20px;
}

.sidebar .ajustes{
	position: relative;
	top:30px;
	left:5%;
	color: #FFFFFF;
	font-size: 100%;
	font-family:monospace;
	line-height: 20px;
}

.sidebar .ajustes .blanco{
	color:#197fa3;
}

.sidebar .ajustes img{
	height: 25px;
	float: left;
}

.sidebar img{
	position: relative;
	max-width: 30%;
	max-height: 30%;
	border-radius: 200px 200px 200px 200px;
	bottom:auto;
	float: left;
}

.musica .collection{
	color:white;
}

/*
	@todo: Que el scroll no se salga de la barra cuando se cambia
	el tamaño de ventana
*/

.musica .collection .orden .genres{
	position: relative;
	text-align: center;
}

.musica .collection .orden .genres .blanco{
	color:#197fa3;
}


/********** Settings **********/

#ajustesimagen{
	position: relative;
	border-radius: 200px 200px 200px 200px;
	max-height:20%;
	max-width:20%;
	left:5%;
	top:5%;
	background-color: white;
	float:left;
}

#boton2{
	border-radius: 200px 200px 200px 200px;
	position: relative;
	height:10%;
	width:80%;
	background-color: #197fa3;
	color:white;
	border-color:#197fa3;
}

/********** Collection **********/


.grid-container{
	position: fixed;
	height: 70%;
	top:20%;
	left:20%;
	width:81%;
}

/********** Place all items in collection **********/
.grid-container .itemo{
	position: relative;
	height: 34.2%;
	width: 15.1%;
	left: 0%;
	top: 0%;
	/* background-color: #197ea3; */
	float:left;
	z-index: 0;
	margin-right: -2px;
}

.grid-container .itemo img{
	/* position: relative; */
	max-width:100%;
	max-height:100%;
}

/********** Album icons **********/
.grid-container .itemo .close img{
	height: 10%;
	width:10%;
	position: absolute;
	left: 85%;
	bottom: 85%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
}

.grid-container .itemo .add img{
	height: 15%;
	width:15%;
	position: absolute;
	right: 82%;
	bottom: 83%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
	z-index: 1;
}

.grid-container .itemo .love img{
	height: 18%;
	width:18%;
	position: absolute;
	left: 80%;
	bottom: 5%;
	cursor: pointer;
	opacity: 0;
	background-color: rgba(77, 77, 77, 0.50);
	z-index: 1;
}

.grid-container .itemo .type{
	position: relative;
	background-color: red;
	color: #FFFFFF;
	left: 30%;
	bottom: 20%;
	height: 12%;
	text-align: center;
	width: 30%;
	background-color: rgba(77, 77, 77, 0.50);
	cursor: pointer;
	z-index: 1;
	opacity: 0;
}

/********** Hover action in collection **********/
.grid-container .itemo:hover .close img{
	opacity: 1;
}

.grid-container .itemo:hover .love img{
	opacity: 1;
}

.grid-container .itemo:hover .add img{
	opacity: 1;
}

.grid-container .itemo:hover .type{
	opacity: 1;
}

/*solo funciona en Chrome*/
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 28px 28px 28px 28px;
}

::-webkit-scrollbar{
	width: 10px;
	background-color: #F5F5F5;
	border-radius: 28px 28px 28px 28px;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-image: -webkit-gradient(linear,left bottom,left top, color-stop(0.44, rgb(122,153,217)),
						color-stop(0.72, rgb(73,125,189)), color-stop(0.86, rgb(28,58,148)));
}

#cuadrado{
	border-radius: 0px 0px 0px 0px;
}

/******** Main Page ********/

.genre_main{
	position: relative;
	top: 60px;
	left: 270px;
	text-align: center;
	padding-top: 1%;
	color: white;
	font-family: monospace;
	background-color: #197fa3;
	border-radius: 28px 28px 28px 28px;
	width: 250px;
	height: 30px;
	font-weight: bold;
	font-size: 20px;
}

.genere_main .titulo{
	position:relative;
	top:100px;
}

/******** Detailed information for albums ********/
#peque{
	position: relative;
	height:70%;
	width:70%;
	left:15%;
	top:15%;
}

.grid-container .itemo .close_album{
	position: relative;
	height: 100%;
	width: 99%;
	left: 0%;
	top: 0%;
	background-color: #197ea3;
	float:left;
	z-index: 0;
	/* margin-right: -2px; */
}

 .seleccionado{
	position: fixed;
	top:20%;
	left:20%;
	height:51%;
	width:72.5%;
	background-color: rgba(77,77,77,0.9);
}

/* .grid-container .seleccionado .imagen{
	position:fixed;
	height:100%;
	width:10%;
} */

.seleccionado .imagen img{
	max-width: 31%;
	max-height: 51%;
	position: fixed;
}

 .seleccionado .titulo_normal{
	position: fixed;
	background-color:#197fa3;
	height: 6%;
	width: 25%;
	bottom: 70%;
	left: 47%;
	border-radius: 28px 28px 28px 28px;
	border: 0.5vmin solid #000000;
	text-align: center;
	color:white;
	padding-top: 1%;
	font-weight: bold;
	font-size: 4vmin;
}

 .seleccionado .titulo_especial{
	position: fixed;
	background-color:gold;
	height: 6%;
	width: 25%;
	bottom: 70%;
	left: 47%;
	border-radius: 28px 28px 28px 28px;
	border: 0.5vmin solid #000000;
	text-align: center;
	color:black;
	padding-top: 1%;
	font-weight: bold;
	font-size: 4vmin;
}

 .seleccionado .album_artist{
	position: fixed;
	background-color:#197fa3;
	height: 3%;
	width: 15%;
	bottom: 67%;
	left: 75%;
	padding-top: 1%;
	border-radius: 28px 28px 28px 28px;
	border: 0.5vmin solid #000000;
	text-align: center;
	color: white;
	line-height: 0.5em;
}

.seleccionado .album_type{
	position: fixed;
	height: 3%;
	width: 15%;
	bottom: 73%;
	left: 75%;
	padding-top: 1%;
	background-color:#197fa3;
	border-radius: 28px 28px 28px 28px;
	border: 0.5vmin solid #000000;
	text-align: center;
	color: white;
	line-height: 0.5em;
}

 .seleccionado .listofsongs{
	background-color:rgba(77,77,77,0.5);
	position:fixed;
	top:33%;
	left:46%;
	height: 38%;
	width: 46%;
	overflow-y: scroll;
	overflow-x: hidden;
}

 .seleccionado .listofsongs .songs{
	position: relative;
	height: 7%;
	width:99%;
	/* background-color:rgba(77,77,77,1); */
	top: 1%;
	margin-bottom: 2%;
	padding-top: 1%;
	padding-left: 2%;
	color: white;
}

 .seleccionado .listofsongs .songs .love_song img{
	position: relative;
	width: 30px;
	height: 100%;
	right: 3%;
	bottom: 25px;
	cursor:pointer;
	float:right;
}

.recocollect{
	position: fixed;
	background-color: rgba(77,77,77,0.5);
	bottom:5%;
	left:20%;
	width:72.5%;
	height:20%;
}
.recocollect .albumlist{
	position: relative;
	float:left;
	height: 100%;
	width:13%;
	background-color: white;
	margin-right: 1%;
}
.recocollect .albumlist img{
	width: 100%;
	height: 100%;
	position: relative;
}
/******** Concerts pages ********/
.concert_title{
	position: fixed;
	border-radius: 30px 30px 30px 30px;
	position: fixed;
	left: 22%;
	top: 2%;
	background-color: rgba(77, 77, 77,0.97);
	padding: 1%;
	height: 8%;
	text-align: center;
	font-family:monospace;
	font-weight:bold;
	font-size: 9vmin;
	color:rgba(25,127,163,1);
	line-height: 0.8em;
}

.grid-concert{
	position: fixed;
	top: 19%;
	left: 22%;
	width: 73.35%;
}

.grid-concert .itemo{
	position: relative;
	height: 34.2%;
	width: 15.1%;
	left: 0%;
	top: 0%;
	float:left;
	z-index: 0;
	margin-bottom: -5px;
}

.grid-concert .itemo img{
	position: relative;
	max-width:100%;
	max-height:100%;
}

.grid-concert .itemo .artist_name{
	color: #FFFFFF;
	text-align: center;
	font-family: monospace;
	font-size: 2.5vmin;
	background-color: rgba(77, 77, 77, 0.50);
	cursor: pointer;
	opacity: 0;
	z-index: 1;
	position: absolute;
	width: 100%;
}

.grid-concert .itemo:hover .artist_name{
	opacity: 1;
}

/******** Near concerts page ********/
.near_scroll{
	background-color:rgba(77, 77, 77,0.97);
	max-width: 39.52%;
	max-height: 10%;
	padding:16.75%;
	width:38.7%;
	height: 60%;
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	top: 19%;
	left: 22%;
}

.near_scroll .concert{
	position: relative;
	background-color:rgb(71, 71, 71);
	bottom: 300%;
	right: 42%;
	width: 184%;
	height: 200%;
	margin-bottom: 2%;
}

.near_scroll .concert img{
	max-width: 100%;
	max-height: 100%;
}

.near_scroll .concert .name_artist{
	color: white;
	font-family: monospace;
	font-size: 5vmin;
	position: relative;
	bottom: 100%;
	left: 20%;
}

.near_scroll .concert .location_date{
	color: white;
	font-family: monospace;
	font-size: 2.8vmin;
	position: relative;
	bottom: 100%;
	left: 20%;
}

.near_scroll .concert .city_near{
	background-color: red;
	font-family: monospace;
	position: relative;
	left: 80%;
	bottom: 157%;
	height: 99.5%;
	width: 20%;
	z-index: 0;
}

.near_scroll .concert .city_near img{
	height: 100%;
	width:100%;
	position: relative;
}

.near_scroll .concert .city_near .flag{
	background-color: green;
	font-family: monospace;
	position: relative;
	left: 60%;
	bottom:100%;
	height: 50%;
	width: 35%;
	z-index: 1;
	border-radius: 200px 200px 200px 200px;
	border: 4px solid #000000;
}

.near_scroll .concert .city_near .titulo{
	font-family: monospace;
	text-align: center;
	position: relative;
	left: 0%;
	bottom: 90%;
	color: white;
	z-index: 2;
	font-size: 5.5vmin;
	background-color:rgba(25, 127, 163,0.5);
}

.near_scroll .concert .city_near .flag img{
	height: 100%;
	width:100%;
	position: relative;
	border-radius: 200px 200px 200px 200px;
}

/******** Add album page ********/

/******** Detailed artist's concerts page *******/
.autor{
	position:fixed;
	top:5%;
	left:22%;
	width:11%;
	height:24%;
	border-radius:200px 200px 200px 200px;
	border-style: solid;
	border-width: 0.7vmin;
	border-color: #197fa3;
}

.autor img{
	position: relative;
	width:100%;
	height:100%;
	border-radius:200px 200px 200px 200px;
}

.name{
	position: fixed;
	background-color:#197fa3;
	color: white;
	top:10%;
	left:35%;
	/* width:15%; */
	height:5%;
	text-align: center;
	padding-top: 1%;
	font-size: 7vmin;
	padding-bottom: 2%;
	font-family: monospace;
	border-radius: 28px 28px 28px 28px;
}

.listaciudades{
	background-color: rgba(77, 77, 77,0.9);
	position:fixed;
	top:31%;
	left:19%;
	width:80%;
	height:50%;
	border-radius:28px 28px 28px 28px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.listaciudades .continentes{
	background-color: rgba(0,0,0,0);
	position:relative;
	top:0%;
	border-radius:28px 28px 0px 0px;
	height:15%;
	width: 100%;
}

.listaciudades .continentes .cont{
	background-color: #197fa3;
	position: relative;
	top:4%;
	border-radius:28px 28px 28px 28px;
	width:14.75%;
	height:55%;
	left:0%;
	border: 0.5vmin solid #000000;
	float: left;
	margin-left: 1%;
	text-align: center;
	padding-top: 1%;
	font-size: 2.3vmin;
	color: white;
	font-weight: bold;
}

.listaciudades .countries{
	position:relative;
	border-radius:0px 0px 0px 28px;
	top:0%;
	left:0%;
	height:85%;
	width: 15.5%;
	overflow-y: scroll;
}

.listaciudades .countries .flag-african{
	position:relative;
	height: 10%;
	width:17%;
	top:3%;
	left:1%;
	border-radius: 200px 200px 200px 200px;
	float: left;
	border:0.1vmin solid #000000;
	margin-left: 1%;
	margin-bottom: 2%;
	display: none;
}

.listaciudades .countries .flag-african img{
	height: 100%;
	width:100%;
	position: relative;
	border-radius: 200px 200px 200px 200px;
	z-index: 0;
}

.listaciudades .countries .flag-african .titulo{
	position: relative;
	background-color: #197fa3;
	color:white;
	height: 70%;
	width:100%;
	bottom: 116%;
	z-index: 1;
	border-radius: 200px 200px 200px 200px;
	text-align: center;
	padding-top: 30%;
	font-size: 1.5vmin;
	font-weight: bold;
	opacity: 0;
	cursor: pointer;
}

.listaciudades .countries .flag-african .titulo:hover {
	opacity: 1;
}

.listaciudades .countries .flag-asia{
	position:relative;
	height: 10%;
	width:17%;
	top:3%;
	left:1%;
	border-radius: 200px 200px 200px 200px;
	float: left;
	border:0.1vmin solid #000000;
	margin-left: 1%;
	margin-bottom: 2%;
	display: none;
}

.listaciudades .countries .flag-asia img{
	height: 100%;
	width:100%;
	position: relative;
	border-radius: 200px 200px 200px 200px;
	z-index: 0;
}

.listaciudades .countries .flag-asia .titulo{
	position: relative;
	background-color: #197fa3;
	color:white;
	height: 70%;
	width:100%;
	bottom: 116%;
	z-index: 1;
	border-radius: 200px 200px 200px 200px;
	text-align: center;
	padding-top: 30%;
	font-size: 1.5vmin;
	font-weight: bold;
	opacity: 0;
	cursor: pointer;
}

.listaciudades .countries .flag-asia .titulo:hover {
	opacity: 1;
}


.listaciudades .countries .flag-europe{
	position:relative;
	height: 10%;
	width:17%;
	top:3%;
	left:1%;
	border-radius: 200px 200px 200px 200px;
	float: left;
	border:0.1vmin solid #000000;
	margin-left: 1%;
	margin-bottom: 2%;
	display: none;
}

.listaciudades .countries .flag-europe img{
	height: 100%;
	width:100%;
	position: relative;
	border-radius: 200px 200px 200px 200px;
	z-index: 0;
}

.listaciudades .countries .flag-europe .titulo{
	position: relative;
	background-color: #197fa3;
	color:white;
	height: 70%;
	width:100%;
	bottom: 116%;
	z-index: 1;
	border-radius: 200px 200px 200px 200px;
	text-align: center;
	padding-top: 30%;
	font-size: 1.5vmin;
	font-weight: bold;
	opacity: 0;
	cursor: pointer;
}

.listaciudades .countries .flag-europe .titulo:hover {
	opacity: 1;
}

.listaciudades .countries .flag-namerica{
	position:relative;
	height: 10%;
	width:17%;
	top:3%;
	left:1%;
	border-radius: 200px 200px 200px 200px;
	float: left;
	border:0.1vmin solid #000000;
	margin-left: 1%;
	margin-bottom: 2%;
	display: none;
}

.listaciudades .countries .flag-namerica img{
	height: 100%;
	width:100%;
	position: relative;
	border-radius: 200px 200px 200px 200px;
	z-index: 0;
}

.listaciudades .countries .flag-namerica .titulo{
	position: relative;
	background-color: #197fa3;
	color:white;
	height: 70%;
	width:100%;
	bottom: 116%;
	z-index: 1;
	border-radius: 200px 200px 200px 200px;
	text-align: center;
	padding-top: 30%;
	font-size: 1.5vmin;
	font-weight: bold;
	opacity: 0;
	cursor: pointer;
}

.listaciudades .countries .flag-namerica .titulo:hover {
	opacity: 1;
}


.listaciudades .countries .flag-oceania{
	position:relative;
	height: 10%;
	width:17%;
	top:3%;
	left:1%;
	border-radius: 200px 200px 200px 200px;
	float: left;
	border:0.1vmin solid #000000;
	margin-left: 1%;
	margin-bottom: 2%;
	display: none;
}

.listaciudades .countries .flag-oceania img{
	height: 100%;
	width:100%;
	position: relative;
	border-radius: 200px 200px 200px 200px;
	z-index: 0;
}

.listaciudades .countries .flag-oceania .titulo{
	position: relative;
	background-color: #197fa3;
	color:white;
	height: 70%;
	width:100%;
	bottom: 116%;
	z-index: 1;
	border-radius: 200px 200px 200px 200px;
	text-align: center;
	padding-top: 30%;
	font-size: 1.5vmin;
	font-weight: bold;
	opacity: 0;
	cursor: pointer;
}

.listaciudades .countries .flag-oceania .titulo:hover {
	opacity: 1;
}


.listaciudades .countries .flag-samerica{
	position:relative;
	height: 10%;
	width:17%;
	top:3%;
	left:1%;
	border-radius: 200px 200px 200px 200px;
	float: left;
	border:0.1vmin solid #000000;
	margin-left: 1%;
	margin-bottom: 2%;
	display: none;
}

.listaciudades .countries .flag-samerica img{
	height: 100%;
	width:100%;
	position: relative;
	border-radius: 200px 200px 200px 200px;
	z-index: 0;
}

.listaciudades .countries .flag-samerica .titulo{
	position: relative;
	background-color: #197fa3;
	color:white;
	height: 70%;
	width:100%;
	bottom: 116%;
	z-index: 1;
	border-radius: 200px 200px 200px 200px;
	text-align: center;
	padding-top: 30%;
	font-size: 1.5vmin;
	font-weight: bold;
	opacity: 0;
	cursor: pointer;
}

.listaciudades .countries .flag-samerica .titulo:hover {
	opacity: 1;
}


.listaciudades .horarios{
	position:relative;
	border-radius:0px 0px 28px 0px;
	bottom: 85%;
	left: 16%;
	height: 85%;
	width: 84%;
	overflow-y: scroll;
}

.listaciudades .horarios .hora{
	background-color: rgba(77,77,77,1);
	top:1%;
	position: relative;
	left:0.5%;
	height: 10%;
	width:99.5%;
	margin-bottom: 1%;
}

.listaciudades .horarios .hora .nombre{
	position: relative;
	background-color:rgba(77,77,77,1);
	color:white;
	left:2%;
	top:0px;
	height: 99%;
	width:20%;
	text-align: center;
	padding-top: 0.4%;
	font-size: 4vmin;
}

.listaciudades .horarios .imagen{
	position: relative;
	left:24%;
	bottom:110%;
	height: 101%;
	width:13%;
	border-radius: 20px 20px 20px;
}

.listaciudades .horarios .imagen img{
	position: relative;
	height:100%;
	width:100%;
	border-radius: 20px 20px 20px;
}

.listaciudades .horarios .time{
	position: relative;
	left:39%;
	height: 89%;
	width:20%;
	bottom: 205%;
	color:white;
	text-align:center;
	padding-top:0.5%;
	font-weight: bold;
	font-size: 3.5vmin;
}

.listaciudades .horarios .price{
	position: relative;
	left:61%;
	height: 91%;
	width:10%;
	bottom:300%;
	color:white;
	text-align:center;
	/* padding-top:0.5%; */
	font-weight: bold;
	font-size: 3.6vmin;
}

.listaciudades .horarios .asistir{
	position:relative;
	background-color: green;
	height: 90%;
	width: 10%;
	bottom: 400%;
	color:white;
	left: 85%;
	border-radius: 20px 20px 20px 20px;
}

.artistarel{
	background-color:rgba(25, 127, 163,0.97);
	border-radius: 28px 28px 0px 0px;
	position:fixed;
	bottom: 14%;
	left: 45%;
	width: 20%;
	height: 3%;
	text-align: center;
	color: white;
	padding-top: 0.3%;
}

.artistarelbox{
	position:fixed;
	bottom: 2%;
	left: 19%;
	width: 81%;
	height: 12%;
	background-color:rgba(25, 127, 163,0.5);
	border-radius: 20px 20px 20px 20px;
}

.artistarelbox .box{
	position:relative;
	top: 0%;
	left: 6%;
	width: 7%;
	height: 100%;
	background-color: green;
	margin-right: 0.4%;
	float: left;
	background-color:rgba(25, 127, 163,1);
	border-radius: 20px 20px 20px 20px;
}

.artistarelbox .box .titulo{
	z-index: 100;
	background-color: rgba(25, 127, 163,0.5);
	color:white;
	position: relative;
	bottom: 70%;
	text-align: center;
	border-radius:28px 28px 28px 28px;
	cursor: pointer;
	opacity: 0;
}

 .artistarelbox .box:hover .titulo{
	opacity: 1;
}

.artistarelbox .box img{
	width:100%;
	height: 100%;
	position: relative;
	border-radius: 20px 20px 20px 20px;
	z-index: 1;
}

/*
	Show the dropdown menu (use JS to add this class to the
	.dropdown-content container when the user clicks on the
	dropdown button)
*/
.musica .collection .show {
	display:block;
}

.btn-group .boton-right1_in{
	border-radius: 0px 3vmin 3vmin 0px;
	background-color: #FFFFFF;
	color:blue;
}

.btn-group .boton-right1_in img{
	float: left;
	float: left;
	position: relative;
	max-height:80%;
	width:40%;
}

.btn-group .boton-left1{
	border-radius: 3vmin 0px 0px 3vmin;
	font-size:2vmin;
}

.btn-group .boton-right2{
	border-radius: 0px 3vmin 0px 0px;
	position: relative;
	top: 7.5px;
	right: 63px;
}

.btn-group .boton-left2{
	border-radius: 3vmin 0px 0px 0px;
	position: relative;
	top: 7.5px;
	right: 61px;
}
